.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
  }
  
  .logo {
    width: 20%;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  
  .nav li {
    margin: 0 10px;
  }
  
  .nav li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
  }
  